*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
html {

    //Define 1rem = 10px;
    font-size: 62.5%;
    
    @include responsive(tablet-h){
        font-size: 56.25%;
    }
    
    @include responsive(tablet-v){
        font-size: 50%;
    }
    
    @include responsive(big-desktop){
        font-size: 75%;
    }
    
}
body {
    box-sizing: border-box;
    padding:3rem;
    width: 100%;

    @include responsive(tablet-v) {
        padding: 0;
    }
}
