*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
html {
    //Define 1rem = 10px;
    font-size: 62.5%;
    
    @include responsive(phone){
        font-size: 50%;
    }
    @include responsive(tablet-v){
        font-size: 60%;
    }
    @include responsive(tablet-h){
        font-size: 70%;
    }
    @include responsive(big-dektop){
        font-size: 80%;
    }
    
}
body {
    box-sizing: border-box;
}
