
@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

/*  @ $breakpoint -> String;
    Argument choices:
    0 - 600px:          phone
    600px - 900px:      tablet-v (vertical)
    1200px - 1800px:    tablet-h (horizontal)
    1800px - infinte:   big-dektop 
*/
@mixin responsive($breakpoint){
    @if $breakpoint == phone {
        @media (max-width: 60rem) {@content};
    }
    @if $breakpoint == tablet-v {
        @media (max-width: 90rem) {@content};
    }
    @if $breakpoint == tablet-h {
        @media (max-width: 120rem) {@content};
    }
    @if $breakpoint == big-desktop {
        @media (min-width: 180rem) {@content};
    }
}