// COLORS
$color-primary: rgb(0, 140, 255);
$color-primary-ligth: rgb(0, 247, 255);
$color-primary-dark: rgb(0, 90, 255);

$color-grey-ligth-1: #f7f7f7;

$color-grey-dark: #777;
$color-white: #FFF;
$color-black: #000;

//GRID 
$grid-width: 114rem;
$space-vertical: 6rem;
$space-horizontal: 6rem;

//FONT SIZE
$default-font-size: 1.6rem;