.footer {
    background-color: rgba($color-black, .8);
    padding: 10rem 0;

    @include responsive (tablet-h) {
        padding: 5rem 0;
    }

    &__logo-box {
        text-align: center;
        margin-bottom: 8rem;
        
        @include responsive (tablet-h) {
            margin-bottom: 5rem;
        }
    }

    &__logo {
        width: 15rem;
        height: auto;
    }

    &__navigation {
        border-top: 1px solid $color-white;
        padding-top: 2rem;
        display: inline-block;

        @include responsive (tablet-h) {
            width: 100%;
            text-align: center;
            float: none;
        }
        
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;
        
        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__link {

        &:link,
        &:visited {
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1.6rem;
            transition: all .1s;
            display: inline-block;
            @include responsive (phone) {
                font-size: 1.4rem;
            }
        }

        &:hover,
        &:active {
            color: $color-primary;
            box-shadow: 0 1rem 2rem rgba($color-black, .5);
            transform: translateY(-5px) scale(1.1);
        }
    }

    &__copyrigth {
        border-top: 1px solid $color-white;
        padding-top: 2rem;
        font-size: 1.6rem;
        color: $color-white;
        float: right;
        display: inline-block;

        @include responsive (tablet-h) {
            width: 100%;
            float: none;
            text-align: center;
        }
        @include responsive (phone) {
            font-size: 1rem;
        }
    }
}